@import './spinner';

body * {
  box-sizing: border-box;
}

.navbar{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  height: 70px;
  padding: 0 100px;
  font-size: 15px;
  background-color: #fff;
  position: fixed;
  .collapse{
    @media screen and (max-width: 995px){
      background-color: white;
      padding: 0 20px;
      &.active{
        display: block;
      }
    }
  }
  .navbar-toggler{
    border: none;
    &:focus{
      outline:0;
    }
    .navbar-toggler-icon-top{
      height: 2px;
      width: 25px;
      background: #4C4C4C;
      margin-bottom: 3.5px;
      &.active{
        margin-bottom: -1.5px;
        transform: rotate(45deg);
      }
    }
    .navbar-toggler-icon-bottom{
      height: 2px;
      width: 25px;
      background: #4C4C4C;
      margin-top: 3.5px;
      &.active{
        transform: rotate(-45deg);
        margin: 0px;
      }
    }
  }
}
.nav-link{
  cursor: pointer;
}
.bg-light{
  background-color: rgba(250,250,250, 0.8)!important;
}
.navbar-brand{
  line-height: 16px;
  font-family: 'Roboto', sans-serif;
  margin-right: 40px;
  font-size: 29px!important;
  line-height: 24px!important;
}
.navbar-brand span{
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 1px;
}
.left-nav{
  float: left;
  width: 80%;
}
.right-nav{
  float: right;
  width: initial;

}
.hero-space{
  height: 100vh;
  margin-top: -70px;

}
.swiper-container{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.swiper-wrapper{
  height: calc(100vh - 70px);
}
.hero-space .swiper-slide img{
  width: 100%;
}
.navbarGallery{
  width: 100%;
  background-color: #fff;
  position: sticky;
  top: 70px;
  z-index: 100;
}
.gallery-nav{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style-type:none
}
.gallery-nav button{
  width: 30%;
  list-style-type: none;
  color: #000;
  border: none;
  background: transparent;
  text-transform: uppercase;
  &.is-checked{
    font-weight: bold;
  }
}
button:focus{
  outline:0;
  font-weight: bold;
}

#gallery-combination{
  position: relative;
}
.gallery{
  visibility: visible;
  display: block;
  height: 100%;
}

.hide-gallery{
  height: 0!important;
  visibility: hidden;
  position: absolute;
  top: 0;
  /* display: none; */
}
.element{
  width: 33%;
  margin-bottom: 35px;
  position: relative;
  opacity: 1;
  cursor: pointer;
  &.mb{
    margin-bottom:48px
  }
}
.visible{
  opacity: 1;
}
.bigger-image{
  width: 66%;
}
.hide{
  /* opacity: 0; */
  transition: ease 1s;
}
.image-description{
  opacity: 0;
  transition: ease 2s;
  position: absolute;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  color: white;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    text-transform: uppercase;
  }
}
.left .image-description{
  width: calc(100% - 20px);
  left: 0;
}
.right .image-description{
  width: calc(100% - 20px);
  right: 0;
}
.center .image-description{
  width: calc(100% - 20px);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.image-description:hover{
  opacity: 1;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 768px){
    display: none;
  }
}
.element.left{
  padding-right: 20px;
}
.element.center{
  padding: 0 10px;
}
.element.right{
  padding-left: 20px;
}
.element img{
  width: 100%;
}
.title-press{
  font-size: 20px;
  font-weight: 600;
  height: 16px;
  text-align: center;
  padding: 50px;
  margin: auto;
  text-transform: uppercase;
  font-family: 'Arial', sans-serif;
}
footer{
  height: 70px;
  display: flex;
  width: 100%;
  padding: 0px 50px;
  background-color: #000;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
}
.data-left {
  width: 50%;
  float: left;
  padding-top: 15px;
}
.data-left li{
  list-style-type: none;
}
.data-left a{
  color: #fff;
}
.data-right{
  width: 50%;
  float: right;
  text-align: right;
}
.data-right a{
  color: #fff;
}
.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.5);
    height: 100vh;
    width: 100vw;
    z-index: 1030;
    @media screen and (max-width: 768px){
      background-color: rgba(0,0,0, 0.8);
    }
    svg{
      fill: white;
      font-size: 50px;
      float: right;
      margin-right: 40px;
      margin-bottom: -25px;
      z-index: 100;
      @media screen and (max-width: 600px){
        margin-right: 0px;
        margin-top: -20px;
        font-size: 40px;
      }
    }
    .swiper-container{
        height: 75%;
        @media screen and (max-width: 1024px){
          margin-top: 30px;
          height: 74%;
        }
        @media screen and (max-width: 768px){
          height: 70%;
        }
        .swiper-wrapper{
          height: 100%;
        }
    }
    .main-swiper{
      display: flex;
      img{
        height: 100%;
        margin: auto;
        width: auto;
      }

  }
    #thumbnail{
      height: 25%;
      overflow: hidden;
      @media screen and (max-width: 1024px){
        margin-top: 0px;
        .swiper-container{
          margin-top: 0px;
        }
      }
      @media screen and (max-width: 768px){
        height: 30%;
      }
      .swiper-container{
        height: 100%;
      }
      .thumbnail-swiper{
          overflow: hidden;
          position: relative;
          padding-top: 40px;
          &.swiper-slide-active{
            &:after{
              content: '\2609';
              position: absolute;
              width: 40px;
              height: 40px;
              top: 0px;
              left:-3px;
              text-align: center;
              font-size: 35px;
              color: white;
            }
          }
          img{
            width: 100%;
            cursor: pointer;
          }
      }
    }
  .close-button{
    position: absolute;
    top: 20px;
    right: 0px;
    z-index: 100000;
    cursor: pointer;
    @media screen and (max-width: 678px){
      top: -8px;
      right: -20px;
    }
  }
  &.vertical{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.5);
    height: 100vh;
    width: 100vw;
    z-index: 1030;
    .content{
      margin: auto;
    }
    svg{
      fill: white;
      font-size: 50px;
      float: right;
      margin-right: 40px;
      margin-bottom: -25px;
      z-index: 100;
    }
    .swiper-container{
        height: 100%;
        width: 70%;
        float: left;
        .swiper-wrapper{
          height: 100%;
        }
    }
    .main-swiper{
      display: flex;
      img{
        height: 100%;
        margin: auto;
        width: auto;
        float: right;
      }

  }
    #thumbnail{
      width: 20%;
      height: 100%;
      float: left;
      .swiper-container{
        height: 100%;
      }
      .thumbnail-swiper{
          overflow: hidden;
          img{
            height: auto;
            width: 100%;
          }
      }
    }
  }
}

.contact-card{
  width: 500px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  right: 0px;
  top: 0px;
  text-align: center;
  padding: 30px;
  -webkit-box-shadow: 0px 8px 29px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 8px 29px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 8px 29px -11px rgba(0,0,0,0.75);
  z-index: 10;
  svg{
    font-size: 50px;
    fill: black;
    margin-bottom: 30px;
  }
  h2{
    font-size: 20px;
  }
  a{
    color: black;
    text-transform: lowercase;
  }
  .close-button{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
    cursor: pointer;
    svg{
      font-size: 30px;
    }
  }
}
.element-press{
  width: 50%;
  padding: 10px;
  float: left;
}
.element-press.full-width{
  width: 100%;
}
.element-press img{
  width: 100%;
}

@media screen and (max-width: 995px){
  .hero-space{
    height: initial;
    .swiper-container{
      .swiper-wrapper{
        height: initial;
      }
    }
  }
.navbar-nav{
    flex-direction: row!important;

  }
  .left-nav{
    width: 100%;
    border-bottom: 1px solid #eee;
    .nav-item{
      width: 50%;
      text-align: center;
    }
  }
  .right-nav{
    width: 100%;
    .nav-item{
      width: 25%;
      text-align: center;
    }
  }
  // .contact-card{
  //   right: 15px;
  //   top: 113px;
  // }
  .element{
    width: 50%;
    margin-bottom: 20px!important;
  }
  .bigger-image{
    width: 50%;
  }
  .element.left{
    padding: 0 10px;
  }
  .element.center{
    padding: 0 10px;
  }
  .element.right{
    padding: 0 10px;
  }
}
@media screen and (max-width: 768px){


  .hero-space{
    height: initial;
    margin-top: 0;
    .swiper-container{
      .swiper-wrapper{
        height: 100%;
      }
    }
  }

  .element-press{
    width: 100%;
  }
}


@media screen and (max-width: 600px){

  .element{
    width: 100%;
    padding: 0!important;
  }
  .navbarGallery{
    width: 110%;
    margin-left: -5%;
  }
  .gallery-nav {
    display: block;
    height: 100px;
    button{
      width: 100%;
      height: 30px;
    }
  }
}
